<div style="color: white; background-color: #003366; padding: 1em 2em 1em 1em;">
    <div style="font-size: 2em; font-weight: bold">AliCalc</div>
    <div style="font-style: italic">Aliquot Calculator for Electrophysiology</div>
    <div style="font-family: Consolas; opacity: .3;">Version @AliCalcVersion</div>
</div>

@code {
    private string AliCalcVersion
    {
        get
        {
            Version version = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;
            return $"{version.Major}.{version.Minor}.{version.Build}";
        }
    }
}
