<div class="@(IsValid ? "valid" : "invalid")">
    <label>
        @Name<br />
        <input type="text" @bind-value="Value" @bind-value:event="oninput">
    </label>
    @Description
</div>

@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public bool IsValid { get; set; }

    [Parameter]
    public string Value { get; set; }

}
