<div class="@(IsValid ? "valid" : "invalid")">
    <label>
        @Name<br />
        <select id="solute" @bind=Text>
            @foreach (var option in Options)
            {
                <option value=@option>@option</option>
            }
        </select>
    </label>
    @Description
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string OptionsCSV { get; set; }

    private string[] Options => OptionsCSV.Split(',');

    [Parameter]
    public string Text { get; set; }

    public bool IsValid => Options.Contains(Text);

    protected override void OnParametersSet()
    {
        Text = string.IsNullOrWhiteSpace(Text) ? Options[0] : Text;
    }
}
