<div class="@(IsValid ? "valid" : "invalid")">
    <label>
        @Name<br />
        <input type="text" @bind-value="Text" @bind-value:event="oninput">
    </label><br />
    <span class="description">@Description</span>
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    public double Number => (double.TryParse(Text, out double result)) ? result : double.NaN;

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public bool MustBePositive { get; set; } = true;

    public bool IsValid
    {
        get
        {
            if (double.IsNaN(Number))
                return false;

            if (MustBePositive && Number <= 0)
                return false;

            return true;
        }
    }
}
