@inherits LayoutComponentBase

<style>
    body {
        background-color: #EEEEEE;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>

<div style="margin: auto; max-width: 900px; background-color: white; box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .05);">
    <Banner />
    <div style="padding: 1em;">
        @Body
    </div>
</div>
