@inherits LayoutComponentBase

<div class="container p-0 mx-auto shadow">

    <header class="p-3" style="background-color: #003366; color: white;">
        <h1 class="m-0"> AliCalc </h1>
        <div><em> Aliquot Calculator for Electrophysiology </em></div>
    </header>

    <article class="p-3 bg-white">

        @Body

    </article>

    <footer class="p-3 bg-light text-muted">
        <small>
            AliCalc version @VersionString | Built on @BuildDateString | Client-side Blazor running .NET CLR @DotNetVersionString |
            <a class="" href="https://github.com/swharden/AliCalc-Blazor">view source</a>
        </small>
    </footer>

</div>

@using System.Reflection

@code{

    private string VersionString
    {
        get
        {
            Version version = Assembly.GetExecutingAssembly().GetName().Version;
            return $"{version.Major}.{version.Minor}.{version.Build}";
        }
    }

    private string BuildDateString => DateTime.Parse(Properties.Resources.BuildDate).ToString("MMMM dd, yyyy");

    private string DotNetVersionString => Environment.Version.ToString();
}
