@inherits LayoutComponentBase

<div class="text-light" style="background-color: #003366;">
    <div class="container py-3">
        <div class="display-3 lh-1">
            AliCalc
        </div>
        <div>
            Aliquot Calculator for Electrophysiology
        </div>
    </div>
</div>

<div class="container">
    @Body

    <footer class="mt-5">
        <div class="text-center">
            <a href="https://github.com/swharden/alicalc">AliCalc 3.1.2</a>
            © 2024
            <a href="https://swharden.com/about/">Scott W Harden</a>
        </div>
    </footer>
</div>